.footer-logo{
    color: #4D5AE5;
}

.footer-link{
    font-weight: 700;
    font-size: 18px;
    
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer{
    background-color: #2E2F42;
    padding: 100px 0px;
}

.footer-disc{
    color: #F4F4FD;
}

.container-cont{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;
    margin-right: 120px;
}

.footer .container{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.footer-icons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

